*{ box-sizing: border-box; margin: 0; padding: 0; text-decoration: none; font-family: Georgia, 'Times New Roman', Times, serif;}
body{background-color: white;}
.nav-bar{display: flex; justify-content: space-between; display: flex;}
.nav-link{ background-color: rgb(247, 174, 17);
    border-radius: 10px;}
.nav-link a{ justify-content: space-between; padding: 0.75em; text-align: center;
font-size: 1.25em; color: black; font-weight: 500; text-decoration: none;}

.nav-link a:hover{color: rgb(247, 174, 17) ;}
.nav-logo{ margin-top: 1em; cursor: pointer; }

.tieb img{width: 600px; height: 600px;}
.wrapper{padding: 0 15px;display: flex; justify-content: center; gap: 4em; align-items: center;}
.intro h1{font-size: 5.5em; margin-top: 1em;}
.intro p{font-size: 1.5em;}
a button{background-color: rgb(247, 174, 17); padding: 0.5em; border-radius: 10px; margin-left: 5em; font-size: 1.5em;}

.about h2{font-size: 2.5em; margin-top: 0.5em; align-items: center; text-align: center; }
.about p{font-size: 1.5em; margin-top: 0.5em; background-color: rgb(247, 174, 17);
padding: 0.5em; border-radius: 10px;}
.about{ padding: 0.5em; border-radius: 10px; align-items: center; margin-top: 3em;
}

h3{font-size: 2.5em; margin-top: 3em;}
.cardi-link img{height: 300px; width: 300px; display: block; margin: 0 auto;  border-radius: 10px;}

.cardi-list{grid-template-columns: 4fr 4fr; grid-template-rows: 4fr 4fr; grid: 4fr 4fr; display: inline-flex; gap: 1em; padding: 0;
align-items: center;  margin-top: 3em;}

.cardi-link{background-color: rgb(247, 174, 17) ; padding: 0.5em; border-radius: 10px;align-items: center;}

.cardi{display: flex; align-items: center; flex-direction: column;}


.cardi p {text-align: center; margin-top: 1em; font-size: 1.5em;}
.cardi a button{font-size: 1em; background-color: white; align-items: center;
    padding: 0.25em; margin: auto; border-radius: 10px; margin-left: 7em;}

.h2{font-size: 2.5em; margin-top: 2em; align-items: center; text-align: center; }
.table h5{color: rgb(247, 174, 17) ; text-align: center;}
.table p{ display: flex;}
.table th{font-size: 1.5em;}
.table td img {height: 500px; border-radius: 50%; transition: 0.3s ease-in-out;
    box-shadow: 0 0 25px  rgb(247, 174, 17);}
.table td img:hover {box-shadow: 0 0 25px  rgb(247, 174, 17),
                            0 0 50px  rgb(247, 174, 17),
                            0 0 100px  rgb(247, 174, 17)
}

.menu{margin: 3em; padding: .5em;}

.contact{background-color: rgb(247, 174, 17); border: 20px; padding: 2em;}



footer{margin-top: 2em; text-align: center; font-size: 1em;}

@media (max-width:920px) {
    .wrapper{flex-direction: column-reverse;  margin: 5rem 0; gap: 5rem;}
    .intro{text-align: center; align-items: center;}
    .menu{align-items: center; flex-direction: column-reverse;}
    .about{align-items: center; flex-direction: column-reverse;}
    .order{align-items: center; flex-direction: column-reverse;}
    .contact{align-items: center; flex-direction: column-reverse;}
}




