*{ box-sizing: border-box; margin: 0; padding: 0; text-decoration: none; font-family: Georgia, 'Times New Roman', Times, serif;}
body{background-color: white;}
nav ul li{background-color:  rgb(247, 174, 17); padding: 0.5em; border-radius: 10px;}

.tieb img{width: 650px; height: 650px;}
.intros{padding: auto; display: flex; justify-content: center; gap:2em; align-items: center;}
.intro h1{font-size: 5.5em; margin-top: 1em;}
.intro p{font-size: 1.5em;}
a button{background-color: rgb(247, 174, 17); padding: 0.5em; border-radius: 10px; margin-left: 5em; font-size: 1.5em;}

h2{font-size: 2.5em; margin-top: 0.5em; align-items: center; text-align: center; }
.about p{font-size: 1.5em;  padding: 0.5em; border-radius: 10px; float: right;}
.about{ padding: 0.5em; border-radius: 10px; align-items: center; margin-top: 3em; display: flex; gap: 2em;
background-color:  rgb(247, 174, 17) ; }
.about img{border-radius: 50%;}

h3{font-size: 2.5em; margin-top: 3em;}
.cardi-link img{height: 300px; width: 300px; display: block; margin: 0 auto;  border-radius: 10px;}

.cardi-list{grid-template-columns: 4fr 4fr; grid-template-rows: 1fr; grid: 4fr 4fr; display: inline-flex; gap: 1em; padding: 0;
align-items: center;  margin-top: 3em;}

.cardi-link{background-color: rgb(247, 174, 17) ; padding: 0.5em; border-radius: 10px;align-items: center;}

.cardi{display: flex; align-items: center; flex-direction: column;}


.cardi p {text-align: center; margin-top: 1em; font-size: 1.5em;}
.cardi a button{font-size: 1em; background-color: white; align-items: center;
    padding: 0.25em; margin: auto; border-radius: 10px; margin-left: 7em;}

.h2{font-size: 2.5em; margin-top: 2em; align-items: center; text-align: center; }
.menu h5{color: rgb(247, 174, 17) ; text-align: center;}
.menu p{ display: flex;}
.table h5 p{font-size: 1.5em;}
.menu img {height: 500px; border-radius: 50%; transition: 0.3s ease-in-out;
    box-shadow: 0 0 25px  rgb(247, 174, 17);}
.menu img:hover {box-shadow: 0 0 25px  rgb(247, 174, 17),
                            0 0 50px  rgb(247, 174, 17),
                            0 0 100px  rgb(247, 174, 17)
}

.menu{margin: 1em; padding: .5em; display: flex; justify-content: center; gap: 6em;}

.contact{background-color: rgb(247, 174, 17); border: 20px; padding: 2em;}
.message{background-color: blue; padding: 0.5em; border-radius: 10px;}


footer{margin-top: 2em; text-align: center; font-size: 1em;}

@media (max-width:952px) {

    .tieb img{content: normal; width: 100%; height: 500px;}
    .intros{flex-direction: column; margin:1em; gap:0.25em; grid: 1fr; grid-template-columns: 1fr; grid-template-rows: 1fr;}
    .intro h1{font-size: 4em;}
    a button{margin-bottom: 2em; align-items: center; text-align: center;}
    .about{flex-direction: column; margin:1em; gap:0.25em; grid: 1fr; grid-template-columns: 1fr; grid-template-rows: 1fr;}
    .menu{flex-direction: column; margin:1em; gap:2em; grid: 1fr; grid-template-columns: 1fr; grid-template-rows: 1fr;}
    .cardi-list{flex-direction: column; margin:1em; gap:2em; grid: 1fr; grid-template-columns: 1fr; grid-template-rows: 1fr;}
    .contact{align-items: center; display: flex; flex-direction: column;}
}




